body {
  font-family: 'Arial', sans-serif;
  background-color: #f7fafc;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}
